.navbar-brand img {
    max-width: 300px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
}

.navbar-nav {
    margin: 0.5rem;
}

.nav-item {
    margin: 2rem;
}

.navbar-collapse {
    align-items: center;
}

.menuCol {
    margin: 0 auto 2em;
    max-width: 435px;
}

.menuImg {
    max-width: 435px;
    max-height: 250px;
}

#wheelchairCheck, #highchairCheck, #strollerCheck, #outdoorCheck, #resOptions, #specText {
    display: none;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    padding: 1rem;
    font-family:  "Brush Script MT", "Brush Script Std", cursive;
}

.jumbotron {
    padding: 1rem;
    margin: 5rem;
}

.bold {
    font-weight: bold;
}

.carousel {
    padding: 1rem;
    margin: auto;
}

#resForm {
    margin-bottom: 2em;
}

.footButton {
    margin: 2em;
}